{% extends 'layout/master' %}

{% block body %}
  <div class="jumbotron vertical-center horizontal-center">
    <h1 class="brand-motto">Hosting &amp; Web Design Solutions at an affordable price.</h1>
    <a href="#" class="button button-outline">Our Services</a>
  </div>
  <div class="section">
    <div class="section-title text-center"><span>Our Services</span></div>
    <div class="container features">
      <hr>
      <div class="row">
        <div class="column feature text-center">
          <i class="fa fa-cloud"></i>
          <h5>Web Hosting</h5>
          <p>Synet customers recieve free web hosting with every web design job. We take care in offering high quality, scalable and reliable solutions to keep you online at all times.</p>
        </div>
        <div class="column feature text-center">
          <i class="fa fa-pencil"></i>
          <h5>Web Design</h5>
          <p>We take pride in providing high quality, presentable and elegant designs to enhance your online presence and further your grasp in the online market.</p>
        </div>
        <div class="column feature text-center">
          <i class="fa fa-server"></i>
          <h5>System Administration</h5>
          <p>Highly scalable, reliable backends that stay up no matter what? That's what we're about. Synet offers system administration at the enterprise level utilizing technologies like Docker, Nginx and ...</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section-title text-center"><span>Pricing</span></div>
    <div class="container">
      <hr>
    </div>
  </div>
  <div class="section">
    <div class="section-title text-center"><span>Portfolio</span></div>
    <div class="container">
      <hr>
    </div>
  </div>
  <div class="section">
    <div class="section-title text-center"><span>About Us</span></div>
    <div class="container">
      <hr>
    </div>
  </div>
  <div class="section">
    <div class="section-title text-center"><span>Contact Us</span></div>
    <div class="container">
      <hr>
    </div>
  </div>
{% endblock %}