<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Synet offers high quality Hosting and Web Design services at an affordable price.">
  <meta name="author" content="Sean Wilson (hello@imsean.me) <http://imsean.me>">
  
  <title>Synet &ndash; Hosting &amp; Web Design</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,300,700,900">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css">
  <link rel="stylesheet" href="/dist/styles/main.css">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/10.0.0/js/smooth-scroll.min.js"></script>
  <script src="/dist/scripts/main.js"></script>
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a href="#" class="brand-link">Synet</a>
      </div>
      <a href="#" class="navbar-toggle"><i class="fa fa-bars"></i></a>      
      <ul class="navbar-menu">
        <li class="menu-item"><a href="#" class="menu-link">Home</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Services</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Pricing</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Portfolio</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Meet The Team</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Contact Us</a></li>
      </ul>
    </div>
  </nav>
  
  {% block body %} {% endblock %}
  
  <script src="https://raw.githubusercontent.com/evaldsurtans/maintainscroll.jquery.js/master/maintainscroll.jquery.min.js"></script>
</body>
</html>